.footer-container {
  background-color: #2E5F52;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Space between logo and description */
}

.footer-logo img {
  max-width: 40px;
  margin-right: 10px;
}

.footer-logo h1 {
  font-size: 24px;
  color: white;
}

.footer-description {
  max-width: 600px;
  text-align: center;
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-column h2 {
  font-size: 18px;
  color: #A8E0EF;
  margin-bottom: 10px;
}

.footer-column p {
  color: white;
  font-size: 16px;
  margin: 5px 0;
}

.footer-white-text {
  color: white;
}
