.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    /* box-shadow: 0px 0px 10px #000000; */
    border-radius: 8px;
    background-color: #f9f9f9;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-toggle button {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    background-color: #e7e7e7;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-toggle button:disabled {
    background-color: #2e8b57;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
}
