.login-page-container {
    display: flex;
    height: 100vh;
}

.login-left {
    flex: 1;
    background: linear-gradient(180deg, #15B1EA 0%, #A8E0EF 40%, #577E73 100%);
    background-size: cover;
    background-position: center;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 400px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login-toggle button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

button[type="submit"] {
    padding: 10px;
    background-color: #475443;  
    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.login-box a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0066cc;
  }
