html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #2E5F52;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #2E5F52;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  margin: 0; 
  z-index: 1000; 
  box-sizing: border-box;
}

body {
  padding-top: 120px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  position: relative;
  padding-bottom: 5px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #007bff;
}

.nav-links span {
  font-size: 16px;
  color: #4ba8ef;
  margin-left: 10px;
  font-weight: bold;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #4ba8ef;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.sign-in-btn, .sign-up-btn, .sign-out-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  line-height: 1;
  background-color: #4ba8ef;
  color: white;
  border-color: #4ba8ef;
}

.sign-in-btn:hover, .sign-up-btn:hover, .sign-out-btn:hover {
  background-color: #4ba8ef;
  border-color: #4ba8ef;
}

.sign-in-btn .icon, .sign-up-btn .icon {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
}